
@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin: 20px 0 20px 0">
    <form class="form-inline" method="post" autocomplete="off" novalidate="novalidate" id="frm-new-order">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <select class="form-control" id="exchange">
                <option>Kraken</option>
                <option>CEX</option>
            </select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <select class="form-control" id="side">
                <option>Buy</option>
                <option>Sell</option>
            </select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input placeholder="Amount" tabindex="1" type="text" autocomplete="off" value="" id="volume">
            <select class="form-control input-group-addon" id="currency">
                <option>BTC</option>
                <option>ETH</option>
                <option>LTC</option>
            </select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group">
                <input type="text" placeholder="Price" value="" id="price" autocomplete="off" aria-describedBy="price">
                <span class="input-group-addon">EUR</span>
            </div>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <select class="form-control" id="type">
                @*<option>Market</option>*@
                <option>Limit</option>
            </select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <button autocomplete="off" type="submit" class="btn btn-success">
                <span>Send order</span>
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="table-responsive">
        <table id="orders" class="table table-striped ">
            <tr>
                <th>Order Id</th>
                <th>Exchange</th>
                <th>Exchange Order Id</th>
                <th>Pair</th>
                <th>Type</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        var transportType = signalR.TransportType.WebSockets;
        var http = new signalR.HttpConnection(`http://${document.location.host}/orders`, { transport: transportType });

        var logger = new signalR.ConsoleLogger(signalR.LogLevel.Information);
        var connection = new signalR.HubConnection(http);

        connection.on('New',
            (order) => {
                appendLine(order);
            });

        connection.on('List',
            (orders) => {
                console.log(orders);
                orders.forEach((order) => {
                    appendLine(order);
                });
            });

        connection.start();

        $('#frm-new-order').submit((e) => {
            var order = {
                exchange: $("#exchange").val(),
                type: $("#type").val(),
                side: $("#side").val(),
                currency: $("#currency").val(),
                price: $("#price").val(),
                volume: $("#volume").val(),
            };
            connection.invoke("New", order);
            e.preventDefault();
        });


        function appendLine(order) {

            var tr = $("<tr/>").append(
                $("<td/>").text(order.Id),
                $("<td/>").text(order.Exchange),
                $("<td/>").text(order.ExchangeOrderId),
                $("<td/>").text(order.Currency + "/EUR"),
                $("<td/>").text(order.Side + "/" + order.Type),
                $("<td/>").text(order.Volume),
                $("<td/>").text(order.Price),
                $("<td/>").text(order.State)
            );
            $("#orders").append(tr);
        };

    </script>
}